@font-face {
  font-family: 'Cartograph CF';
  src: local('Cartograph CF Regular'), local('Cartograph-CF-Regular'),
    url('../fonts/CartographCF-Regular.woff2') format('woff2'),
    url('../fonts/CartographCF-Regular.woff') format('woff'),
    url('../fonts/CartographCF-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

$font: "Cartograph CF",
sans-serif !default;
$font-family-custom-sans-serif: "Cartograph CF",
sans-serif !default;
$font-family-base: $font-family-custom-sans-serif !default;

body {
  overflow: hidden;
}

.invisible {
  display: none;
}




@import "./jokes.scss";
@import "./avatar.scss";
@import "./buttons.scss";
@import "./weather_icons";
// @import "./coffee_machine";
@import "../node_modules/bootstrap/scss/bootstrap";
